<h1>Add Match</h1>
  <% if @error %>
      <div class="error">Team failed.</div>
  <% end %>
  <form action="/addMatch" method="post" >
    
    <input list = "allteams" type="text" name="Team1_name" placeholder="Team1 name" />
    <input list = "allteams" type="text" name="Team2_name" placeholder="Team2 name" />
    <input type="date" name="date" placeholder="Date" />
    <input type="number" name="round" placeholder="Round" />
    <input type="submit" name="button" value="Add Match" />
    </br>
    <h3>Id | Round</h3>
    <%="0  | Grupo A"%> </br>
    <%="1  | Grupo B"%> </br>
    <%="2  | Grupo C"%> </br>
    <%="3  | Grupo D"%> </br>
    <%="4  | Grupo E"%> </br>
    <%="5  | Grupo F"%> </br>
    <%="6  | Grupo G"%> </br>
    <%="7  | Grupo H"%> </br>
    <%="8  | Octavos"%> </br>
    <%="9  | Cuartos"%> </br>
    <%="10 | Semifinal"%> </br>
    <%="11 | Final"%> </br>

    <datalist id="allteams">
      <% @teams.each do |p| %>
        <option value= <%= p.name %> >
      <% end %>
    </datalist>

  </form> 
