<!DOCTYPE html>
<html>
  <head>
    <title>Matches</title>
  </head>
  <body>

  <% flash.keys.each do |type| %>
    <% if type == :notice %>
      <div class="popupn">
        <h4> <%= flash[type] %> </h4>
        </div>
      <% end %>
  <% end %>

    
      <h1 class="titulo">PARTIDOS</h1>

      <nav> <!-- menu de navegacion -->
        <ul>
          <li><a href="http://localhost:4567/results">RESULTADOS</a></li>
          <li><a href="http://localhost:4567">INICIO</a></li>
        </ul> 
      </nav>
      <div class="table">
      <table>
          <tr>
            <th>Equipo 1</th>
            <th>Equipo 2</th>
            <th>Fecha</th>
            <th>Ronda</th>
          </tr>
        
          <% @partidos.each do |p| %>
            <tr>
            <td> <%= Team.find_by(id: p.local_id).name %> </td>
            <td> <%= Team.find_by(id: p.visitor_id).name %> </td>
            <td> <%= p.datetime %> </td>
            <td> <%= p.round %> </td>
            </tr>
          <% end %>

      </table>
    </div>
  </body>
</html>
