<!DOCTYPE html>
<html>
  <head>
    <title>Ranking</title>
  </head>
  <body>

  <% flash.keys.each do |type| %>
    <% if type == :alert %>
      <div class="popup">
        <h4> <%= flash[type] %> </h4>
      </div>
    <% end %>

    <% if type == :notice %>
      <div class="popupn">
        <h4> <%= flash[type] %> </h4>
      </div>
    <% end %>
    <% end %>
  
    <h1 class="titulo">POSICIONES APOSTADORES</h1>
  
    <div class="table">
      <table>

        <tr>
          <th> Posición </th>
          <th> Nombre </th>
          <th> Puntaje </th>
        </tr>

        <% i = 1 %>
        <% @gamblers.each do |p| %>
          <tr>
            <td> <%= i %> </td>
            <td> <%= p.name %>  </td>
            <td> <%= p.Total_score %> </td>
          </tr>
          <% i = i+1 %>
        <% end %>



      </table>
    </div>
    

    <div class="navegacion">
      <form>
        <a href="http://localhost:4567">
        <input type="button" value="INICIO">
        </a>
      </form>
      </br>
    </div>

  </body>
</html>